*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 95%;
    margin-left: 40px;
    margin-right: 40px;
    background-color:whitesmoke;
    display: inline-block;
    
}

.leftchild{
    float: left;
    width: 50%;
}

.rightchild{
    float: right;
    width: 50%;
    margin-top: 10px;
}
.header{
    text-transform: uppercase;
    text-align-last: center;
    margin-bottom: 10px;
}

.span1{
    color: #19aec4;
}

.span2{
    color: #f5bc13;
}
.content{
    text-align-last: center;
    margin-bottom: 15px;
}
.banner1{
    width: 57%;
    text-align-last: center;
    height: 30px;
    padding-left: 159px;
    margin-bottom: 10px;
}
.banner1text{
    text-align-last: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:#19aec4;
    color: white;
}
.header2{
    margin-left: 158px;
    width: 180px;
}
.content2{
    margin-left: 158px;
    width: 202px;
    color:#19aec4;
}   
.span3{
    color: #2f596c;
    text-transform: uppercase;
}
.subparent{
    width:100%;
    height: 310px;
}
.leftsub{
    width: 50%;
    float: left;
}
.rigthsub{
    width: 50%;
    float: right;
}
.cupcake{
    width: 110px;
    margin-left: 55px;
    margin-top: 45px;
}
.bottom{
    width: 100%;
    height: 190px;
}
.food{
    width: 450px;
    margin-left: 140px;
}

.banner2{
    width: 57%;
    text-align-last: center;
    height: 30px;
    padding-left: 159px;
    margin-bottom: 10px;
    margin-top: 0;
}
.banner2text{
    text-align-last: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:#19aec4;
    color: white;
}

.miniparent{
    width: 100%;
}
.leftmini{
    float: left;
    width: 35%;
}
.rightmini{
    float: right;
    width: 65%;
}
.header3{
    text-align: right;
    text-transform: uppercase;
}
.head{
    color:#2f596c;
    font-size: x-large;
}
.count{
    color:#f5bc13;
    font-size: xxx-large;
}

.word{
    color:#19aec4;
    font-size: small;
    font-weight: bold;
}
.pizza{
    width: 60px;
    margin-top: 30px;
    padding-right: 5px;
}
.dougnut{
    width: 60px;
    margin-top: 30px;
    padding-right: 8px;
}
.juice{
    padding-left: 10px;
    width: 55px;
    margin-top: 11px;
    padding-right: 8px;
}
.icecream{
    width: 42px;
    margin-top: 25px;
    padding-right: 8px
}
.items{
    margin-left: 36px;
}
.rows{
    margin-left: 40px;
    margin-top: 20px;
}
.age{
    color:#f5bc13;
    font-size: large;
    font-weight: bold;
}
.per{
    color:#2f596c;
    font-size:xxx-large;
    
}
.adults{
    margin-left: 20px;
    width: 125px;
}
.young{
    width: 65px;
    margin-left: 24px;
}
.child{
    width: 32px;
    margin-left: 28px;
}

.seperator {
    height:130%;
    width: 1px;
    background: black;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
  }

  
.banner3{
    width: 57%;
    text-align-last: center;
    height: 30px;
    padding-left: 50px;
    margin-bottom: 10px;
}
.banner3text{
    text-align-last: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:#19aec4;
    color: white;
}
.header4{
    text-transform: uppercase;
    color:#2f596c;
    margin-left: 50px;
}
.table1{
    margin-left: 50px;
}
.name1{
    color:#19aec4;  
    font-size:x-large;
    width: 80px;
}
.num1{
    color:#f5bc13;
    font-size:xxx-large;
    width: 135px;
}
.bread{
    width: 100px;
}
.table2{
    margin-left: 50px;
}

.name2{
    color:#19aec4;  
    font-size:x-large;
    width: 125px;
}
.num2{
    color:#f5bc13;
    font-size:xxx-large;
    width: 135px;
}
.veg{
    width: 125px;
}
.table3{
    margin-left: 50px;
}

.name3{
    color:#19aec4;  
    font-size:x-large;
    width: 165px;
}
.num3{
    color:#f5bc13;
    font-size:xxx-large;
    width: 135px;
}
.fish{
    width: 125px;
}
.table4{
    margin-left: 50px;
    padding-bottom: 9px;
}

.name4{
    color:#19aec4;  
    font-size:x-large;
    width: 183px;
}
.num4{
    color:#f5bc13;
    font-size:xxx-large;
    width: 135px;
}
.milk{
    width: 125px;
}
.list{
    margin-left: 50px;
    margin-top: 25px;
}
.inj{
    width: 50px;
}
.injlist{
    margin-left: 30px;
    margin-bottom: 40px;
}
.disease{
    color:#2f596c;
    font-size: x-large;
    font-weight: bold;
}
.numbers{
    color:#f5bc13;
    font-size: large;
}
.people{
    color:#f5bc13;
    font-size: large;   
}
.details{
    color:#19aec4;  
    font-size: small;
}